header {
    background-color: #463d33;
    
    }

.item-location {
    border: solid;
    font-size: 25;
    color: rgb(204, 138, 39);
    background-color: darkolivegreen;
    text-align: center;
    /* width: 60%; */
}
.food-items {
    height: 220;
  

}

.dry {
    background-color: grey;
    height: 200;
    width: 100;
    padding: 7 7 7 7;
    border: solid;
    float: right;
    margin-right: 50%;
    display: inline;
}

.produce {
    background-color: grey;
    height: 200;
    width: 100;
    padding: 7 7 7 7;
    border: solid;
    float: left;


}


.frozen {
    background-color: grey;
    height: 200;
    width: 100;
    padding: 7 7 7 7;
    border: solid;
    float: right;
    margin-right: 50%;
}


.fridge {
    background-color: grey;
    height: 200;
    width: 100;
    padding: 7 7 7 7;
    border: solid;
    float: left;
}
div{
    height: 227;
    display: inline-block;
    vertical-align: top;
 
}

#banana {
    float: 25%;
}


#pasta {
    float: right 75%;

}
 